body {
    background-color: #f9f9f9;
    padding: 6px 12px;
    color: #333;
    font-family: 'Segoe UI', sans-serif;
    box-sizing: border-box;
}

a {
    color: #007bff;
}

table {
    background-color: #fff;
    color: #333;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}
.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* space below the title */
}

.grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 30px;
    background: linear-gradient(to right, #3a539b, #4b70c2); /* dark blue gradient */
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 400px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* ensures multi-line text is centered */
    background-color: #2980b9;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    padding: 20px;
    transition: background-color 0.3s ease;
    text-decoration: underline;
    text-decoration-color: #ffffff;
}


    .grid-item:hover {
        background-color: #1abc9c;
        color: #ffffff;
        text-decoration-color: #ffffff;
    }